# 使用前请先把该文件重命名为"bot.yaml"

general:
  time_zone: 8 # 时区
  api_root: 'http://127.0.0.1:8000' # 后端（akarinn）的访问链接
  mode: new # new：日服新版打法（五个王同时可打）；legacy：老版打法（只能按顺序打）

khl:
  # 这里填机器人的凭证信息
  client_id: 'xxxxxxxxxxx'
  token: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  client_secret: 'xxxxxxxxxxxxxx'

extra:
  is_shaidao_mode: False # 适应超前排的满筛模式，关闭部分功能（报刀等）并开启代刀相关功能
  admins: [] # List[str] 填入管理员的author id，部分功能只响应此列表中的用户